<div>
    <span>Oi, {{name}} </span>

    <br />

    <span>Você solicitou alteração de senha.</span>
    <span>Para realizar a troca, clique no link <a href={{link}}>{{link}}</a></span>

    <span>Caso não tanha sido Você quem solicitou basta ignorar este email.</span>

    <strong>Obrigado!</strong>

    <h3>Equipe | <strong>Rentx</strong></h3>
</div>